[Unit]
Description=Postfix policyd rate limiter

[Service]
Type=simple
ExecStart=/usr/local/bin/policyd-rate-limit
KillSignal=SIGINT
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
