[Unit]
Description=Postfix policyd rate limiter - clean database

[Service]
Type=oneshot
ExecStart=/usr/local/bin/policyd-rate-limit --clean
KillSignal=SIGINT
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
